@font-face {
  font-family: 'Aspekta';
  src: url('./app/assets/fonts/AspektaVF.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aspekta", sans-serif;
}
